{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Emissions Website</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                Header, can put nav bar or something here
            </div>
            <div class="main-content">
                map could go here..... just setting up a template for the site as an example as we haven't decided on a design
            </div>
            <div class="footer-content">
                {{ chart|safe }}
            </div>            
        </div>
    </body>
</html>