{% extends "_layout.html" %}

<!-- styling is done with bootstrap since most people visit websites with there phones -->
{% block content %}
<div class=" container h-100 d-flex flex-column">
    <div class=" row h-25">
        <p class=" text-center">can put nav bar or something here</p>
    </div>
    <div class=" row h-25">
        <p class=" text-center">map could go here..... just setting up a template for the site as an example as we haven't decided on a design</p>
    </div>
    <div class=" row h-25">
        <div class=" col-md-4 p-3 text-center">
            {{ barchart|safe }}
        </div>  
        <div class=" col-md-4 p-3 text-center">
            {{ linechart|safe }}
        </div> 
        <div class=" col-md-4 p-3 text-center">
            {{ newchart|safe }}
        </div> 
    </div>
</div>

<script>
    $(document).ready(function() {
        // javascript/jquery
    });
</script>
{% endblock %}
